body{
  font-family: 'Advent Pro', sans-serif;
}
#home{
  background-image: url("../assets/backgrounds/landing.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
#about{

}
#menu{

}
#contacts{

}
